*{
    margin: 0;
    padding: 0;
}
*:focus {
    outline: none;
}
head, body{
  height: 100%;
}
a:hover{text-decoration: none!important;}
a:active{text-decoration: none!important;}
body {overflow-x:hidden!important;}
.titulo:hover{ color:#374140;}
.titulo{transition:color .5s;-webkit-transition:color .5s;-moz-transition:color .5s;-ms-transition:color .5s;border-radius:100%;}
#title:before{content:"\f13b"}
.box:hover.html5{border-color:#e45126} 
.box:hover.html5 #insideBoxTitle{color:#e45126}
.box{transition:border .5s;-webkit-transition:border .5s;-moz-transition:border .5s;-ms-transition:border .5s;padding:0px;margin:0px;margin-bottom:30px;border:1px solid transparent;border-radius:5px;text-align:center;}
.box #insideBoxTitle {transition:color .5s;-webkit-transition:color .5s;-moz-transition:color .5s;-ms-transition:color .5s;border-radius:100%;}
 ::-webkit-scrollbar {
      width: 9px;
      height: 13px;
    }
::-webkit-scrollbar-button {
width: 0px;
height: 0px;
}
::-webkit-scrollbar-thumb {
background: #3a3a3a;
border: 72px none #ffffff;
border-radius: 78px;
}
::-webkit-scrollbar-thumb:hover {
background: #2c2c2c;
}
::-webkit-scrollbar-thumb:active {
background: #3e3e3e;
}
::-webkit-scrollbar-track {
background: #ffffff;
border: 74px none #80ffff;
border-radius: 18px;
}
::-webkit-scrollbar-track:hover {
background: #ffffff;
}
::-webkit-scrollbar-track:active {
background: #ffffff;
}
::-webkit-scrollbar-corner {
background: transparent;
}
#gradBlue {
      background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
      color:white;
      opacity:0.95;
      }
.orange {background-color: #FF2D00;}
#gradOrange {
      background: linear-gradient(141deg, #FB8C00 0%, #FF8C00 51%, #FB7C00 75%);
      color:white;
      opacity:0.90;
      }
.fondoGaucho{
    	background-image: url("../imgs/gauchada.jpeg")  ;
      -webkit-background-size: cover;
      background-size: cover;
}

ul.gray li a{ color: gray!important;}
ul.gray li a:hover{color: black!important;
      background-color: transparent!important;}
.styled-select {
      background: transparent;
      width: 160px;
      font-size: 15px;
      border:0;
      border-radius: 0px;
      height:20px;
      display: inline;
}
.glyphicon-bookmark{color: red; font-size: 8px;}
input[class=search] {
    background: transparent!important;
    width: 110px;  
    border: none;
    border-bottom: 1px solid black;
    font-size: 15px;
    color: white!important;
    border-radius: 0px!important;
}
.alert{
  text-align: center;
}
.jumbotron.bienvenida{
      padding-bottom: 20px;
      padding-top: 30px;
}
#fondoGris {
     background:rgba(0,0,0,0.8);
      color:white;
      border-radius: 35px;
      }
.styled-select option{
    color: black;
    background-color: transparent!important;
 }
 #submit, input[type=date], textarea{
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
 }
 @media (min-width: 992px) {
  #submit, input[type=date], textarea{
    float: left;
  }
}
 #ir{
  width: 40px;
 }
input[type=date]{
  margin-bottom: 20px;
}
.page-header {
  padding-bottom: 5px;
  padding-top: 30px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eee;
}
.container .page-header {
  padding: 0px;
  margin: 0px;
  margin-bottom: 20px;
}
.container-fluid .page-header{
  padding: 0px;
  margin-top: 110px;
  }
  .box h3 p {
  padding-bottom: 20px;
  padding-top: 0px;
  margin: 0px;
  font-size:14px;
  }
  #verDetalle{
    margin-top: 15px;
  }
  #mail{
    margin-right: 60px;
  }
  .inverseWarningBtn{
    border-color: orange!important;
    background-color: white!important;
    color: orange!important;
  }
.inverseWarningBtn:hover{
  color: #FF8C00!important;
  background-color: #e6e6e6!important;
  border-color: #FF8C00!important;
}
.erase{
  color: red;
}
.edit{
  color: green;
}
.img-table{
  width:80px;
  height:auto;
}